<h1>Users#new</h1>
<%= form_tag({:action => 'create' }, :multipart => true) do %>
    Username: <%= text_field("new", "name") %>
    <br />
    Password: <%= password_field("new", "pass") %>
    <br />
    Email: <%= text_field("new", "email" ) %>
    <br />
    <%= submit_tag("Register") %>
<% end %>