<div class="container">
  <div class="card mb-2">
    <div class="card header">Details for: <%= @user.name %></div>
    <div class="card body">
      <% User.column_names.each do |column_name| %>
        <% next if column_name == "password" %>
        <div class="row">
          <div class="col"><%= column_name %></div>
          <div class="col"><%= @user.send(column_name) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card mb-2">
    <div class="card header">Server Account Details:</div>
    <div class="card body">
      <% Account.column_names.each do |column_name| %>
        <% next if column_name == "password" || column_name == "salt" %>
        <div class="row">
          <div class="col"><%= column_name %></div>
          <div class="col"><%= @user.get_account.send(column_name) %></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="float-right">
    <%= link_to "Close", users_path, {class: "btn btn-secondary", role: "button"} %>
    <%= link_to "Edit", edit_user_path(@user), {class: "btn btn-primary", role: "button"} %>
</div>